/* This is a CSS comment.*/


/*
23Mar2015. Udacity Project 1 rev c. Theresa McLaughlin.
*/

*{
	font-family: arial;
	box-sizing: border-box;
}
.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}
.toptitle{
	text-align: left;
	font-weight: normal;
	color: #202F7C;
}
.title{
	color: white;
	background-color: #202F7C;
	text-align: left;
	font-weight: normal;
	padding-top: 2.5%;
	padding-left: 1%;
}
.description{
	color: #202F7C;
	padding-left: 1%;
}
